---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>curiousninetysix - about</title>
	</head>
	<body>
		<a href="/">home</a>
		<a href="/about">about</a>
		<a href="/blog">blog</a>
		<h1>About me</h1>
		<p>I'm a software engineer, hobby bodybuilder and philosopher, and I'm always learning something new!</p>
		<p>Currently: 한극어 배우기!</p>
	</body>
</html>
